
<div [@dialog] *ngIf="visible" class="dialog">
	<ng-content></ng-content>
    <button *ngIf="closable" (click)="close()" aria-label="Close" class="close">X</button>
    <br>
    <br>
    <br>
    <button (click)="close()">CERRAR</button>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
<!--<div *ngIf="visible" class="overlay" (click)="close()"></div>
<div *ngIf="visible" class="overlay" (click)="Aceptar()"></div>-->

