<!--<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-list">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-create">Create</a>
      </li>

    </ul>
  </div>
</nav>-->

<!--<p>
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Toggle
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
    -->

    <!--div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a  class="icon" (click)="a($event)">
        <i class="fa fa-bars"></i>
      </a>
    </div>-->

    <div class="topnav" id="myTopnav">
      <a class="fa fa-heart"></a>
      <ng-container *ngFor="let url of urls; let i=index">
          <a *ngIf="url.type !== 'selected'" class="c-header__link" routerLinkActive="c-header__link--selected"
             [routerLink]="[url.url]">{{url.title}}</a>
             <a *ngIf="url.type === 'selected'">
                <select class="selected" name="profile{{i}}" (change)="onProfileChange()">
                  <!--[ngValue]="null" disabled-->
                    <option >{{url.title}}</option>
                    <!--  [selected]="prf.prId==='dir'"-->
                    <option class="options-color" *ngFor="let prf of url.options">
                     <span>></span> {{ prf.description }}
                    </option>
                  </select> 

                </a>
             
      </ng-container>
      <div class="icon-user">
        <div class="user fa fa-user-o"></div>
        <div class="register"><span>Registrase</span> </div>
      </div>
      <!--<a  class="icon" (click)="a($event)">
        <i id ="hamb" class="fa fa-bars"></i>
      </a>-->
      <a class="icon" (click)="a($event)">
        <div id="burger-menu">
            <span></span>
        </div>
        
      </a>
    </div>