/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 57px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: white;
    border-bottom: 4px solid red;
    .selected{
      background-color: #ddd;
    }
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 905px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 905px) {
    .topnav.responsive a:first-child{
      text-align: left !important
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    
    }
  }

  .icon-user {
    padding: 0px;
    //position: absolute;
    //left: 644px;
    color: white;
    //margin: 14px;
    float: left;
}

.user{
    position: absolute;
    right: 35px;
    top: 18px;
    margin: 0px 20px;
}
.register{
  background-color: lawngreen;
  position: absolute;
  right: 62px;
  top: 13px;
  margin: 0px 20px;
  border-radius: 40px;
  width: 85px;
  text-align: center;
}

.selected{
  border: none;
  outline: none;

}

.selected:hover {
  background-color: lightgray;
}

select:hover{
  background-color: lightgray;
}

.options-color{
  background-color: white;
  color:black;
  border: none;
}
select:focus{ outline: none;}

.options-color::after{
background-color: lightgrey;
}

.selected option:hover{
  background-color: red;
}
/*

.hamburger 
            {
                min-height: 30px;
                max-width: 50px;
            }

            .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
                background-color: #48C;
                position: absolute;
                width: 40px;
                height: 4px;
                border-radius: 5px;
                content: '';
                transition-timing-function: ease;
                transition-duration: .2s;
                transition-property: opacity,-webkit-transform;
                transition-property: transform,opacity;
                transition-property: transform,opacity,-webkit-transform;
            }

            .hamburger-inner:before {
                top: 10px;
            }

            .hamburger-inner:after {
                top: 20px;
            }

            .hamburger.open .hamburger-inner {
                -webkit-transform: translate3d(0,10px,0) rotate(45deg);
                transform: translate3d(0,10px,0) rotate(45deg);
            }

            .hamburger.open .hamburger-inner:after {
                -webkit-transform: translate3d(0,-20px,0) rotate(-90deg);
                transform: translate3d(0,-20px,0) rotate(-90deg);
            }

            .hamburger.open .hamburger-inner:before {
                -webkit-transform: translate3d(0,-20px,0) rotate(90deg);
                transform: translate3d(0,-20px,0) rotate(90deg);
                opacity: 0;
            }*/


           /* .hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburger::before{
    transform: translateY(-6px);
}
.hamburger::after{
    transform: translateY(3px);
}*/

#burger-menu{
  width: 27px;
  height: 27px;
  //margin: 50px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after{
  background: white;
  display: block;
  height: 4px;
  position: absolute;
  
  transition: all 300ms ease;
}

#burger-menu span:before,
#burger-menu span:after{
  content: '';
}

#burger-menu span{
  right: 0px;
  top: 13px;
  width: 27px;
}

#burger-menu span:before{
  left: 0px;
  top: -10px;
  width: 27px;
}

#burger-menu span:after{
  left: 0px;
  top: 10px;
  width: 27px;
}

#burger-menu.close span{
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
  background: red;
}


#burger-menu.close span:before{
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
  background: red;
}

#burger-menu.close span:after{
  top: 0px;
  left: 0px;
  transform: rotate(90deg);
  width: 27px;
  opacity: 0;
}