<div class="contenedor-loading" *ngIf="show">
    <div class="lds-css ng-scope">
     <img src="assets/iconos/icono-santander.png" class="icon-santander" alt="Cargando Sistema de Poderes y Firmas">
     <div style="width:100%;height:100%" class="lds-eclipse">
       <div></div>
     </div> 
     <div></div>
     <div class="text-loading">
     <h2>Cargando Sistema de Poderes y Firmas</h2>
     <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con<br> el contenido del texto de un sitio mientras que mira su diseño.</p>
    </div>
    </div>
   
   </div>  

