/* loading spinner*/
.contenedor-loading h2 {
    text-align: center;
      font-family: 'Open Sans', sans-serif!important;
      font-size: 17px;
      font-weight: normal;
      display: block;
      margin: -90px auto 10px auto;
      color: #444444;
      font-weight: 600;
    }
    .contenedor-loading p {
      text-align: center;
      font-size: 13px;
      color: #444444;
      font-family: 'Open Sans', sans-serif!important;
      font-weight: 300 !important;
    }
    .contenedor-loading {
      width: 100%;
      position: relative;
      height: 100vh;
      //background: #ffffff;
      overflow: hidden;
      z-index: 99999;
      background: rgba(0, 0, 0, 0.1);
    }
    .lds-css.ng-scope {
      position: relative;
      display: block;
      width: 400px;
      top: 50%;
      margin: -200px auto;
    }
    .icon-santander {
      /*position: fixed;
      height: 30px;
      margin: -127px auto;
      width: 30px;
      top: 50%;
      left: 50%;
      margin-left: -31px;*/

      position: relative;
    height: 40px;
    /* margin: -127px auto; */
    width: 43px;
    top: 70%;
    left: 49%;
    margin-left: -33px;
    /* opacity: 0.5; */
    opacity: none;
    bottom: -111px;
    color: red;
    }
   
    @keyframes lds-eclipse {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @-webkit-keyframes lds-eclipse {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    .lds-eclipse {
      position: relative;
    }
    .lds-eclipse div {
      position: absolute;
      -webkit-animation: lds-eclipse 1.5s linear infinite;
      animation: lds-eclipse 1.5s linear infinite;
      width: 160px;
      height: 160px;
      top: 20px;
      left: 20px;
      border-radius: 50%;
      box-shadow: 0 4px 0 0 #ec0000;
      -webkit-transform-origin: 80px 82px;
      transform-origin: 80px 82px;
    }
    .lds-eclipse {
      -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
      transform: translate(-14px, 18px) scale(.5) translate(100px, 42px);
    }
    .text-loading {
      width: 600px;
      position: fixed;
      height: 204px;
      top: 50%;
      margin: 70px -100px;
    }