.padre {
    width: 100%;
    height: 500px;
}
.hijo {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: red;
    margin-bottom: 10px;
    height: 505px;
    width: calc(100% - 40px);
}
